body {
	margin: 0;
	height: 100%;
	font-family:"Helvetica Neue", Helvetica,  Arial, sans-serif;
	padding: 0;
	width: 100px;
}

.bx-oAuth-container{
	position: absolute;
	height: 300px;
	width: 100%;
	top: 50%;
	margin-top: -150px;
}
.bx-oAuth-header{
	background: #2fc6f7 url(images/cloud.png)  center 5px no-repeat;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	z-index: 2;
}
.bx-network-logo{
	width: 100%;
	display: block;
	height: 75px;
	background: url(images/b24network_DarkLogo.png) no-repeat center;
	-webkit-background-size: auto 45px !important;
	background-size: auto 45px !important;
}
.bx-network-logo.ru{background: url(images/b24network_DarkLogo_ru.png) no-repeat center;}
.bx-network-logo.en{background: url(images/b24network_DarkLogo_en.png) no-repeat center;}
.bx-network-logo.de{background: url(images/b24network_DarkLogo_en.png) no-repeat center;}
.bx-network-logo.ua{background: url(images/b24network_DarkLogo_ua.png) no-repeat center;}
.bx-oAuth-section{
	position: relative;
	height: 270px;
	width: 100%;
}
.bx-oAuth-text{
	position: absolute;
	bottom: 52%;
	font-size: 15px;
	margin-bottom: 20px;
	text-align: center;
	width: 340px;
	left: 50%;
	margin-left:-170px;
}
.bx-oAuth-error{
	position: absolute;
	bottom: 52%;
	font-size: 15px;
	margin-bottom: 20px;
	text-align: center;
	width: 340px;
	left: 50%;
	margin-left:-170px;
	font-weight: bold;
	color: red;
}
.bx-oAuth-profile{
	position: absolute;
	top: 60%;
	width: 340px;
	left: 50%;
	margin-left:-170px;
}
.bx-oAuth-image{
	float: left;
	margin-right: 10px;
	/*position: absolute;*/
	/*top: 60%;*/
	width: 60px;
	height:60px;
	/*border-radius: 8px;*/
	-webkit-background-size:cover;
	background-size:cover;
	background-image: url(images/app_icon.png);
}
/*.bx-oAuth-image.right{}*/
/*.bx-oAuth-image.left{}*/
.bx-oAuth-name		{
	font-size: 20px;
	color: #000;
	vertical-align: middle;
	line-height: 20px;
}
.bx-oAuth-mail		{
	font-size: 15px;
	color: #3288d1;
	vertical-align: middle;
	line-height: 20px;
}
.bx-oAuth-logining	{
	font-size: 12px;
	color: #a3a3a3;
	vertical-align: middle;
	line-height: 20px;
}

.bx-oAuth-section-buttons{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.bx-oAuth-section-buttons-block {
	background-color: #ffffff;
	border-top: 1px solid #f0f0f0;
	text-align: center;
	padding: 15px;
}


.bx-oAuth-content {
	position: absolute;
	top: 117px;
	text-align: center;
	width: 100%;
}

.bx-oAuth-title {
	color: #084d88;
	font-size: 25px;
	display: inline-block;
	padding-bottom: 12px;
}

.bx-oAuth-description {
	color: #000000;
	font-size: 15px;
}

.bx-oAuth-list-wrap {
	display: inline-block;
	margin-top: 50px;
	padding-bottom: 55px;
}

.bx-oAuth-list {
	margin: 0;
	text-align: left;
	padding: 0 0 0 17px;
}

.bx-oAuth-list-item {
	padding: 0 0 18px;
	position: relative;
	list-style: none;
}

.bx-oAuth-list-item:before {
	background: url(images/sprite.png) no-repeat 6px 2px;
	content: '';
	height: 15px;
	left: -20px;
	position: absolute;
	top: 2px;
	width: 18px;

	-webkit-transition: transform 0.2s linear;
	transition: transform 0.2s linear;
}

.bx-oAuth-list-item-open:before {
	transform: rotate(90deg);
	transform-origin: center;
}


.bx-oAuth-list-item-inner {
	cursor: pointer;
	padding-bottom: 8px;
	font-size: 16px;
	line-height: 19px;
}

.bx-oAuth-list-second-level {
	height: 0;
	margin-left: -17px;
	overflow: hidden;
	padding-left: 17px;

	-webkit-transition: height 0.2s linear;
	transition: height 0.2s linear;
}

.bx-oAuth-list-second-level .bx-oAuth-list {
	padding: 0;
}
.bx-oAuth-list-second-level .bx-oAuth-list-item {
	padding-bottom: 8px;
}
.bx-oAuth-list-second-level .bx-oAuth-list-item:before {
	background-position: center -22px;
}

.bx-oAuth-list-item a {
	color: #084d88;
	font-size: 15px;
	text-decoration: none;
}

.bx-oAuth-list-item a:hover {
	text-decoration: underline;
}



